/* Customize font */
body {
  font-family: Arial, sans-serif;
  background-image: url('https://www.depts.ttu.edu/housing/images/exteriorHalls/49230135962_15cffa725c_c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar styles */
.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}
.navbar-brand {
  font-size: 2rem;
}
.nav-link {
  font-size: 1.2rem;
  color: #212529;
}

a{
padding-right: 20%;
}

.mt-5{
padding-top: 8rem;
}

/* Main content styles */
.container {
  max-width: 800px;
  padding-top: ;
}
.card {
  margin-top: 2rem;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #6c757d;
  color: #fff;
  font-size: 1.5rem;
}

.card-body {
  padding: 2rem;
}
.btn-primary,
.btn-success {
  border-radius: 0;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.2rem;
}

